@model Customer
@{
}
<div class="flex flex-col justify-center items-center mt-36">
    <h1 class="mb-20 text-4xl">Choose a Customer</h1>
    <div class="bg-neutral w-3/12  pt-10 pb-10 rounded-lg ">

        <div class=" ml-5 ">

            <form asp-controller="Registration" asp-action="RegistrationsByCustomer" method="post">
                <div asp-validation-summary="All" ></div>
                    
                @if (TempData.Keys.Contains("Error"))
                    {
                        <span class="text-red-400">@TempData["Error"]</span>
               
                    }
               
                <div class="mt-5">
                    <label asp-for="CustomerId" class="label">
                        <span class="label-text">Customer</span>
                    </label>
                    <select asp-for="CustomerId" class="select w-9/12">
                        <option disabled selected>Choose a Customer</option>
                        @foreach(Customer c in ViewBag.Customers)
                        {
                            <option value="@c.CustomerId">@c.FirstName @c.LastName</option>
                        }
                    </select>                   
                    
                </div>
                

                <button  class="btn btn-primary mt-5">Select</button>

            </form>
         </div>
    </div>
</div>
