@{
    ViewData["Title"] = "Home Page";
}
<div class="flex flex-col  justify-center items-center">
    <h1 class="mt-20 text-4xl bg-gradient-to-tr">Menu</h1>
    <div class=" flex  justify-center items-center text-center bg-neutral w-3/12 rounded-box mt-20">

        <div class="w-full flex  justify-center items-center p-10">
            <ul class="menu bg-base-100 menu-compact lg:menu-normal w-10/12 p-2 rounded-box">
                <li><a asp-controller="Product" asp-action="Index">
                    Manage Products
                </a></li>
                <li><a asp-controller="Technician" asp-action="Index">
                    Manage Technicians
                </a></li>
                <li><a asp-controller="Customer" asp-action="Index">
                    Manage Customers
                </a></li>
                <li><a  asp-controller="Incident" asp-action="Index">
                    Manage Incidents
                </a></li>
            </ul>
        </div>

    </div>
</div>