@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="bg-blue-500">Welcomesss heyyyyyyy</h1>
    
    <div class="text-green-200">Weed</div>


    <div class="flex justify-center mt-10 mb-10 ">
      <div class="p-6 card bordered ">
          <div class="form-control">
            <label class="cursor-pointer label">
              <span class="label-text mr-20">Neutral</span> 
              <input type="radio" name="opt" checked="checked" class="radio" value="">
            </label>
          </div> 
          <div class="form-control">
            <label class="cursor-pointer label">
              <span class="label-text">Primary</span> 
              <input type="radio" name="opt" checked="checked" class="radio radio-primary" value="">
            </label>
          </div> 
          <div class="form-control">
            <label class="cursor-pointer label">
              <span class="label-text">Secondary</span> 
              <input type="radio" name="opt" checked="checked" class="radio radio-secondary" value="">
            </label>
          </div> 
          <div class="form-control">
            <label class="cursor-pointer label">
              <span class="label-text">Accent</span> 
              <input type="radio" name="opt" checked="checked" class="radio radio-accent" value="">
            </label>
          </div> 
          <div class="form-control">
            <label class="label">
              <span class="label-text">Disabled</span> 
              <input type="radio" name="opt" checked="checked" value="" disabled="disabled" class="radio">
            </label>
          </div>
      </div>
    </div>
<button class="btn btn-primary">daisyUI Button</button>

</div>
