@model Technician
@{
}
<div class="flex flex-col justify-center items-center mt-36">
    <h1 class="mb-20 text-4xl">Test</h1>
    <div class="bg-neutral w-3/12  pt-10 pb-10 rounded-lg ">

        <div class=" ml-5 ">

            <form asp-controller="TechIncident" asp-action="IncidentsByTechnician" method="post">
                <div asp-validation-summary="All" ></div>
                    
                @if (TempData.Keys.Contains("Error"))
                    {
                        <span class="text-red-400">@TempData["Error"]</span>
               
                    }
               
                <div class="mt-5">
                    <label asp-for="TechnicianId" class="label">
                        <span class="label-text">Technician</span>
                    </label>
                    <select asp-for="TechnicianId" class="select w-9/12">
                        <option disabled selected>Choose a Technician</option>
                        @foreach(Technician t in ViewBag.Technicians)
                        {
                            <option value="@t.TechnicianId">@t.Name</option>
                        }
                    </select>
                    
                </div>
                



                <button  class="btn btn-primary mt-5">Select</button>

            </form>
         </div>
    </div>
</div>