
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GBCSportingWeb</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    @*<script src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js" defer></script>*@
    <script src="https://unpkg.com/alpinejs" defer></script>

    @*<link rel="stylesheet" href="~/GBCSportingWeb.styles.css" asp-append-version="true" />*@
</head>

<body>
    <div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box overflow-x-auto sm:overflow-auto">
        <div class="px-2 mx-2 navbar-start">
            <div>
                <span class="text-lg font-bold">
                GBC Sporting
                </span>
                <i class="fa-solid fa-volleyball"></i>
            </div>            
        </div>
        <div class=" px-2 mx-2 navbar-center lg:flex">
            <div class="flex items-stretch">
                <a class="btn btn-ghost btn-sm rounded-btn" asp-controller="Home" asp-action="Index">
                    Home
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn" asp-controller="Product" asp-action="Index">
                    Products
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn" asp-controller="Technician" asp-action="Index">
                    Technicians
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn" asp-controller="Customer" asp-action="Index">
                    Customers
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn" asp-controller="Incident" asp-action="Index">
                    Incidents
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn">
                    {Registrations}
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn" asp-controller="Home" asp-action="About">
                    About
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <button class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path>
                </svg>
            </button>
            <button class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </button>
        </div>
    </div>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4fcb81c091.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    
</body>

</html>
