@model Incident
@{
    string title = ViewBag.Action;

}

<div class="flex flex-col justify-center items-center mt-36">
    <h1 class="mb-20 text-4xl">@(title == "Add" ? "Add a new Incident" : "Edit the Incident")</h1>
    <div class="bg-neutral w-3/12  pt-10 pb-10 rounded-lg ">

        <div class=" ml-5 ">
            <div>
                <label class="label">
                    <span class="label-text">Customer</span>
                </label>
                <select class="select w-9/12">
                    <option disabled selected>Choose a Customer</option>
                    <option>Homer</option>
                    <option>Marge</option>
                    <option>Bart</option>
                    <option>Lisa</option>
                    <option>Maggie</option>
                </select>
            </div>

            <div class="mt-5">
                <label class="label">
                    <span class="label-text">Product</span>
                </label>
                <select class="select w-9/12">
                    <option disabled selected>Choose a Product</option>
                    <option>Homer</option>
                    <option>Marge</option>
                    <option>Bart</option>
                    <option>Lisa</option>
                    <option>Maggie</option>
                </select>
            </div>

            <div class="mt-5">
                <label class="label">
                    <span class="label-text">Title</span>
                </label>
                <input type="text" placeholder="Type here" class="input w-9/12 ">
            </div>

            <div class="mt-5">
                <label class="label">
                    <span class="label-text">Description</span>
                </label>
                <input type="text" placeholder="Type here" class="input w-9/12 ">
            </div>

            <div class="mt-5">
                <label class="label">
                    <span class="label-text">Technician</span>
                </label>
                <select class="select w-9/12">
                    <option disabled selected>Choose a Technician</option>
                    <option>Homer</option>
                    <option>Marge</option>
                    <option>Bart</option>
                    <option>Lisa</option>
                    <option>Maggie</option>
                </select>
            </div>

            <label class="label mt-5">
                <span class="label-text">Date Opened</span>
            </label>
            <div class=" "data-theme="light" >
                <div class="datepicker  form-floating mb-3 " data-mdb-toggle-button="false">
                    <input type="text"
                           class=" form-control block  px-3 py-1.5 text-base font-normal w-9/12  bg-neutral bg-clip-padding  border-gray-300 rounded transition ease-in-out m-0   focus:border-blue-600 focus:outline-none"
                           placeholder="Select a date" data-mdb-toggle="datepicker" />
                    <label for="floatingInput" class="">Select a date</label>
                </div>
            </div>

    </div>

</div>

