
@model List<Incident>

    @{
        ViewBag.Title = "Incidents";
    }

<h1>Incidents</h1>
<a asp-controller="Incident" asp-action="Add">Add a New Incident</a>
<br />
@foreach (var incident in Model){

    <div>Title: @incident.Title</div>
}