
@model List<Incident>

    @{
        ViewBag.Title = "Incidents";
    }

<h1>Incidents</h1>
<a asp-controller="Incident" asp-action="Add">Add a New Incident</a>
<br />
@foreach (var incident in Model){

    <div>Title: @incident.Title</div>
}

<div class="card flex justify-center items-center">
    <div class="w-7/12 overflow-x-auto sm:overflow-auto ">
        <table class="table w-full table-zebra">
            <thead>
                <tr >
                    <th class="bg-primary border-r-2 border-gray-700">Title</th>
                    <th class="bg-primary border-r-2 border-gray-700">Customer</th>
                    <th class="bg-primary border-r-2 border-gray-700">Product</th>
                    <th class="bg-primary">Date Opened</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>9</th>
                    <td>Lesya Tinham</td>
                    <td>Safety Technician IV</td>
                    <td>Maroon</td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Zaneta Tewkesbury</td>
                    <td>VP Marketing</td>
                    <td>Green</td>
                </tr>
                <tr>
                    <th>11</th>
                    <td>Andy Tipple</td>
                    <td>Librarian</td>
                    <td>Indigo</td>
                </tr>
                <tr>
                    <th>12</th>
                    <td>Sophi Biles</td>
                    <td>Recruiting Manager</td>
                    <td>Maroon</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

