
@model List<Incident>

    @{
        ViewBag.Title = "Incidents";
    }

<div class="card flex justify-center items-center mt-36">
    <h1 class="mb-20 text-4xl">Incident Manager</h1>
    <div class="w-7/12 overflow-x-auto sm:overflow-auto ">
        <table class="table w-full table-zebra">
            <thead>
                <tr >
                    <th class="bg-primary border-r-2 border-gray-700">Title</th>
                    <th class="bg-primary border-r-2 border-gray-700">Customer</th>
                    <th class="bg-primary border-r-2 border-gray-700">Product</th>
                    <th class="bg-primary">Date Opened</th>
                    <th class="bg-primary"></th>
                    <th class="bg-primary"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var incident in Model)
                {
                    <tr>
                    <th>@incident.Title</th>
                    <td>@incident.CustomerId</td>
                    <td>@incident.ProductId</td>
                    <td>@incident.DateOpened</td>
                    <td><a asp-controller="Incident" asp-action="Add" ><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a asp-controller="Incident" asp-action="Add" ><i class="fa-solid fa-trash-can"></i></a></td>

                </tr>
                }                       
            </tbody>
        </table>

        <a asp-controller="Incident" asp-action="Create" class="btn btn-primary mt-10" >Add Incident</a>
    </div>
</div>


