
@model List<Incident>

    @{
        ViewBag.Title = "Incidents";
    }

<h1>Incidents</h1>
<a asp-controller="Incident" asp-action="Add">Add a New Incident</a>
<br />


<div class="card flex justify-center items-center mt-40">
    <h1 class="mb-20 text-4xl">Incident Manager</h1>
    <div class="w-7/12 overflow-x-auto sm:overflow-auto ">
        <table class="table w-full table-zebra">
            <thead>
                <tr >
                    <th class="bg-primary border-r-2 border-gray-700">Title</th>
                    <th class="bg-primary border-r-2 border-gray-700">Customer</th>
                    <th class="bg-primary border-r-2 border-gray-700">Product</th>
                    <th class="bg-primary">Date Opened</th>
                    <th class="bg-primary"></th>
                    <th class="bg-primary"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var incident in Model)
                {
                    <tr>
                    <th>@incident.Title</th>
                    <td>@incident.CustomerId</td>
                    <td>@incident.ProductId</td>
                    <td>@incident.DateOpened</td>
                    <td></td>
                    <td></td>
                </tr>
                }                       
            </tbody>
        </table>
    </div>
</div>

