@model List<Product>

    @{
        ViewBag.Title = "Products";
    }

    <div class="card flex justify-center items-center mt-36">
        <h1 class="mb-20 text-4xl">Customer Manager</h1>
        <div class="w-7/12 overflow-x-auto sm:overflow-auto ">
            <table class="table w-full table-zebra">
                <thead>
                    <tr>
                        <th class="bg-primary border-r-2 border-gray-700">Name</th>
                        <th class="bg-primary border-r-2 border-gray-700">Email</th>
                        <th class="bg-primary border-r-2 border-gray-700">City</th>
                        <th class="bg-primary"></th>
                        <th class="bg-primary"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                {
                    <tr>
                        <th>@product.ProductId</th>
                        <td>@product.ProductName</td>
                        <td>@product.YearlyPrice</td>
                        <td><a asp-controller="Product" asp-action="Edit"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td><a asp-controller="Product" asp-action="Delete"><i class="fa-solid fa-trash-can"></i></a></td>

                    </tr>
                }
                </tbody>
            </table>

            <a asp-controller="Product" asp-action="Create" class="btn btn-primary mt-10">Add Product</a>
        </div>
    </div>
